DATABASE_URL="postgresql://postgres:postgres@localhost:5432/calenderpsico"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/calenderpsico"
JWT_SECRET="Bd8LvX5qxvWsN9Buh3rZiHqoKfycmyCtrLceGZPQPrc4nGUiutzzpHVbowUKDkgjWXs7ipqrT8cZ4YN1aHscjA"
ADMIN_EMAIL="thais_snt@psicologia.com.br"
ADMIN_PASSWORD="T34mo%1104"
